* {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0 auto;
  max-width: 1260px;
  overflow: scroll;
}

.header-nav {
  margin: 29px 0 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tedED-logo {
  float: left;
}

.tedED-logo img {
  width: 131px;
  height: 35px;
  object-fit: cover;
}

.search-container {
  float: right;
}

.register-container {
  float: right;
}

.register-container a {
  text-decoration: none;
  color: red;
  font-family: Lora;
  font-size: 14px;
}

p {
  font-size: 14px;
}

.search-container input[type="text"] {
  padding: 8px 15px;
  margin-top: 8px;
  border: 1px groove #c2c2c2;
  width: 207px;
}

.input-icons img {
  position: relative;
  top: 10px;
  right: 30px;
  margin-bottom: 5px;
}

.nav-container {
  width: 300px;
  height: 300px;
  color: red;
  background-color: red;
}
