* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  overflow: scroll;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: "Raleway", sans-serif;
  color: #232323;
}

.header-nav {
  max-width: 1259px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 21px auto;
  list-style-type: none;
}

.header-search-reg {
  display: flex;
  flex-direction: row;
}

.tedED-logo img {
  float: left;
  width: 128px;
  height: 32px;
  object-fit: cover;
}

.search-container {
  float: right;
}

.register-container {
  float: right;
  margin-top: 10px;
  margin-left: 15px;
}

.register-container a {
  text-decoration: none;
  color: #ea0028;
  font-size: 14px;
}

p {
  font-size: 14px;
}

.search-container input[type="text"] {
  padding: 8px 15px;
  border: 1px groove #c2c2c2;
  width: 227px;
}

.input-icons img {
  position: relative;
  top: 10px;
  right: 30px;
  margin-bottom: 5px;
}

.nav-container {
  max-width: 100%;
  height: 60px;
  background-color: #ea0028;
  padding-left: 300px;
}

.nav-container ul {
  list-style: none;
  display: flex;
}

.nav-container li {
  padding: 15px 25px;
}

.nav-container a {
  text-decoration: none;
  color: #fff;
  font-size: 28px;
}

.section {
  max-width: 940px;
  padding-top: 55px;
  margin: auto;
}

.title-section {
  text-align: center;
}

.title-section .line-through-section {
  top: -25px;
}

.title-container {
  margin: auto;
  width: 645px;
  background-color: white;
  position: relative;
  z-index: 1;
}

.title-container p {
  font-size: 42px;
}

.line-through-section {
  position: relative;
  z-index: 0;
}

.headline-container {
  display: flex;
  flex-direction: row;
  column-gap: 38px;

  padding: 0 5px;
  margin-bottom: 21px;
}

.headline-container img {
  width: 448px;
  height: 250px;
}

.headline-container h2 {
  font-size: 34px;
}

.article-details {
  font-family: "Lora", serif;
  margin-top: 8px;
  font-size: 16px;
  line-height: 26px;
  color: #555555;
}

.span-link {
  text-decoration: none;
}

.article-section {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}

.article-container {
  height: 530px;
}

.article-container img {
  width: 292px;
  height: 165.7px;
}

.article-description h2 {
  font-size: 18px;
  line-height: 24px;
}

.article-description {
  margin-top: 12px;
}

.article-details {
  line-height: 24px;
  font-size: 16px;
  text-align: start;
}

.btn-show {
  width: 100%;
  height: 46px;
  background-color: #000000;
  border-style: none;
  border-radius: 3px;
  color: #fff;

  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.btn-show:hover {
  background-color: #ff2b06;
}

.footer-section {
  max-width: 1262px;
  margin: 0 auto;
}

.footer-div {
  height: 1px;
  border-width: 0;
  background-color: red;
}

.footer-link {
  width: 391px;
  height: 15px;
}

.footer-link ul {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

.footer-link a {
  text-decoration: none;
  color: #555555;
  font-size: 14px;
}

.footer-link img {
  width: 44px;
  height: 12px;
  object-fit: cover;
}

.footer-policy {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.footer-policy a {
  text-decoration: none;
  color: #555555;
}

.footer-policy a {
  font-size: 10px;
}
