* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  overflow: scroll;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: #232323;
}

.header-container {
  margin: 32px 321px 18px;
}

.header-nav {
  margin: auto;
  max-width: 1560px;
  list-style-type: none;
}

.tedED-logo img {
  float: left;
  width: 128px;
  height: 32px;
  object-fit: cover;
}

.search-container {
  float: right;
}

.register-container {
  float: right;
  margin-top: 10px;
  margin-left: 15px;
}

.register-container a {
  text-decoration: none;
  color: #ea0028;
  font-size: 14px;
}

p {
  font-size: 14px;
}

.search-container input[type="text"] {
  padding: 8px 15px;
  border: 1px groove #c2c2c2;
  width: 227px;
}

.input-icons img {
  position: relative;
  top: 10px;
  right: 30px;
  margin-bottom: 5px;
}

.nav-container {
  max-width: 100%;
  height: 60px;
  background-color: #ea0028;
  padding-left: 300px;
}

.nav-container ul {
  list-style: none;
  display: flex;
}

.nav-container li {
  padding: 15px 25px;
}

.nav-container a {
  text-decoration: none;
  color: #fff;
  font-size: 28px;
}

.section {
  max-width: 940px;
  padding-top: 55px;
  margin: auto;
}

.title-section {
  text-align: center;
}

.title-section .line-through-section {
  top: -25px;
}

.title-container {
  margin: auto;
  width: 645px;
  background-color: white;
  position: relative;
  z-index: 1;
}

.title-container p {
  font-size: 42px;
}

.line-through-section {
  position: relative;
  z-index: 0;
}

.headline-container {
  display: flex;
  flex-direction: row;
  column-gap: 38px;

  padding: 0 5px;
}

.headline-container img {
  width: 448px;
  height: 250px;
}

.headline-container h2 {
  font-size: 34px;
}

.article-details {
  font-family: "Lora", serif;
  margin-top: 8px;
  font-size: 16px;
  line-height: 26px;
  color: #555555;
}
