* {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;

  overflow: scroll;
}

header {
  display: flex;
  flex-direction: column;
}

.header-container {
  padding: 32px 321px 18px;
}

.header-nav {
  margin: auto;
  max-width: 1560px;
  list-style-type: none;
}

.tedED-logo {
  padding: 0;
}

.tedED-logo img {
  float: left;
  width: 128px;
  height: 32px;
  object-fit: cover;
}

.search-container {
  float: right;
}

.register-container {
  float: right;
  margin-top: 5px;
}

.register-container a {
  text-decoration: none;
  color: #ea0028;
  font-family: Lora;
  font-size: 14px;
}

p {
  font-size: 14px;
}

.search-container input[type="text"] {
  padding: 8px 15px;
  border: 1px groove #c2c2c2;
  width: 227px;
}

.input-icons img {
  position: relative;
  top: 10px;
  right: 30px;
  margin-bottom: 5px;
}

.nav-container {
  max-width: 100%;
  height: 56px;
  background-color: #ea0028;
}
